<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="qin.com.coodinatorqin">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".appbar.AppBarLayoutActivity" />
        <activity android:name=".collapse.collapseLayoutActivity" />
        <activity android:name=".MeasureCoolapse.MeasureCollpaseActivity" />
        <activity android:name=".collapsesnap.CollapseSnapActivity" />
        <activity android:name=".floatbutton.FloatButtonActivity" />
        <activity android:name=".zhihu.ZhiHuActivity" />
        <activity android:name=".bottomsheetbar.BottomSheetBaiduActivity" />
        <activity android:name=".searchFancy.SearchFancyActivity" />
        <activity android:name=".tablayout.TabLayoutActivity" />
        <activity android:name=".tablayout.SecondTablayoutActivity" />
        <activity android:name=".tablayout.ThirdTabLayoutActivity" />
        <activity android:name=".collapsetest.CollapseTestActivity"></activity>
        <activity android:name=".bottomsheetdialog.BottomSheetDialogActivity" />
    </application>

</manifest>